@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,400,400i,500,500i,600,700,800,900&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

header{
    background-color: #614af2;
    color: white;
}

nav ul{
    list-style: none;
    padding:0;
    margin: 0;
}
nav ul li{
    display: inline-block;
    line-height: 43px;
    margin-left:20px;
}



nav ul li a{
    text-decoration: none;
    color: white;
}

button{
    font-size: 16px;
    border-radius: 25px;
    padding: 5px 15px;
    background-color: #e7464d;
    border: none;
    color: white;
}

.slide{
    padding: 50px 0 80px 0; 
}

.slide img{
    max-width: 100%;
}

.content .picture img{
    max-width: 100%;
}

.apply{
    background-color:#e7464d;
    top: 630px;
    padding: 20px;
    border-radius: 10px;
}

.apply h3{
    font-size: 20px;
}

.apply p{
    font-size: 16px;
    font-weight: 300;
}

.apply button{
    background-color: black;
    padding: 0px 2px;
    color: white;
    margin-left: -4px;
}

.apply input{
    border: none;
    padding: 0 2px;
    font-size: 16px;
}

.citation p{
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    color: #adadad;
}

.citation h3{
    color: #fc9817;
    font-size: 18px;
}

.point{
    background-color:  #fc99179d;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 10px;
}

.active{
    background-color:#fc9917;
}

.content{
    padding-top: 70px;
}

.content p{
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #adadad;
}

.content h3{
    font-size: 20px;
    color: #333232;
}

.icons{
    padding-top: 100px;
}

.icon-container .text{
    padding-top: 20px;
}

.icon-container .text h3{
    color: #333232;
}

.foot, .icon-container .text p{
    color: #adadad;
}

.foot .community li{
    display: inline-block;
    list-style-type: none;
    padding: 0 0 0 10px;
}

.foot .community li a{
    text-decoration: none;
    color: #adadad;
}

.foot .copyright p{
    padding: 0 10px 0 0;
}

@media (max-width: 575.98px) {
    .citation{
        padding-top: 200px;
    }
    .apply{
        top: 730px;
        left: 20%;
    }
    header{
        padding-bottom: 5%;
    }
    header nav ul li{
        margin-left: 5px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .apply{
        top:700px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .apply{
        top: 450px;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .apply{
        top: 500px;
    }
}

@media (min-width: 1200px) {

}